.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.actionsContainer {
  justify-content: space-between;
  flex-direction: row-reverse;
}

.actionButton {
  padding: 8px 16px;
  color: white;
  background-color: #08a742;
  border: none;
  border-radius: 2px;
  font-size: 1.4rem;
  font-weight: bold;
  align-self: center;
  cursor: pointer;
  height: 35px;

  &:hover {
    background-color: #26b259;
  }

  &:focus {
    outline: none;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 1px, #08a742 0px 0px 0px 2px;
  }
}
