.loader {
  animation: rotate 1s linear infinite;
  display: block;
  border-radius: 100%;
  border: 2px solid #e5e5e5;
  border-top: 2px solid #2cbf55;
  border-right: 2px solid #2cbf55;
}

.small {
  width: 18px;
  height: 18px;
}

.medium {
  width: 24px;
  height: 24px;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
