.borderedContainer {
  border-bottom: 1px solid #eae8e8;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: #26272a;
  font-size: 1.8rem;
  line-height: 1;
  text-transform: capitalize;
  margin-top: 25px;
  margin-bottom: 25px;
}

.actionsWrapper {
  display: flex;
}

.inputWrapper {
  position: relative;
  margin-right: 15px;
}

.input {
  padding: 7px 16px 7px 32px;
  border-radius: 2px;
  border: 1px solid #cbcccd;
  background: white;
  font-size: 1.4rem;
  height: 35px;

  &:hover,
  &:focus {
    outline: none;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 1px, #317ae2 0px 0px 0px 2px;
  }
}

.suggestionsContainer {
  position: absolute;
  z-index: 1;
  width: calc(100% + 6px);
  margin-left: -3px;
  margin-top: 4px;
  max-height: 292px;
  overflow: auto;

  &Open {
    background-color: white;
    border: 1px solid #eae8e8;
    box-shadow: 2px 5px 5px 0 rgba(46, 61, 73, 0.05);
    border-radius: 2px;
  }
}

.suggestionsList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.suggestion {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  padding: 10px 15px;
  font-size: 1.3rem;

  &Highlighted {
    background-color: #317ae2;
    color: white;

    & .personSummaryOrganization {
      color: white;
    }
  }

  & + .suggestion {
    border-top: 1px solid #eae8e8;
  }

  &:hover {
    cursor: pointer;
  }
}

.personSummary {
  &Container {
    flex: 1;
  }

  &Name {
    font-weight: 600;
  }

  &Icon {
    display: none;
  }

  &Avatar {
    flex: none;
    margin-right: 10px;
  }

  &Organization {
    font-size: 1.2rem;
  }
}

.button {
  display: flex;
  align-items: flex-end;
  border: none;
  background: none;
  position: absolute;
  top: 0;
  padding: 9px 6px 8px;
  height: 35px;
  border: 1px solid transparent;

  &:focus {
    outline: none;
    border: 1px solid #317ae2;
  }
}

.searchButton {
  left: 0;
}

.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
}
