.visuallyHidden {
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  overflow: hidden;
  padding: 0;
  border: 0;
  clip-path: inset(50%);
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);

  &:active,
  &:focus {
    width: auto;
    height: auto;
    overflow: visible;
    clip-path: none;
    white-space: normal;
    clip: auto;
  }
}
