.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  position: relative;
  background-color: white;
  border-radius: 2px;
  border: 1px solid #cbcccd;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 7px 20px;

  &:focus {
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 1px, #707070 0px 0px 0px 2px;
    outline: none;
  }
}

.success {
  border-color: #007500;
  background-color: #e2efe7;
  color: #007500;

  &:focus {
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 1px, #a0bba0 0px 0px 0px 2px;
  }
}

.danger {
  border-color: #c30c0c;
  background-color: #fbebeb;
  color: #c30c0c;

  &:focus {
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 1px, #fba7a7 0px 0px 0px 2px;
  }
}
