.list {
  width: 100%;
  padding-left: 0;
  margin-top: 10px;
  list-style-type: none;
}

.listItem {
  position: relative;
  margin-top: 10px;
}

.listItemButton {
  padding: 15px 30px;
  display: flex;
  font-weight: normal;
  font-size: inherit;
  justify-content: space-between;
  border: 1px solid #eae8e8;
  background-color: white;
  flex: 1;
  width: 100%;
  text-align: left;
  cursor: auto;
}

.dragHandle::after {
  content: ".. .. ..";
  transform: translateY(-5px);
}

.dragHandle {
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
  line-height: 6px;
  padding: 3px 7px 3px 7px;
  vertical-align: middle;
  font-family: sans-serif;
  letter-spacing: 1px;
  color: #757575;
  border: 1px solid transparent;
  transition: all 0.1s ease-in-out;

  &:hover,
  &:focus {
    outline: none;
    line-height: 7px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #317ae2;
    font-size: 20px;
    transform: translateY(-2px);
  }
}
