.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0dede;
  background-color: #f1f1f1;
}

.title {
  font-size: 1.5rem;
  color: #26272a;
  margin: 0;
}

.iconButton {
  display: flex;
  align-items: center;
  top: 0;
  padding: 5px;
  border: 1px solid transparent;
  background: none;
}

.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
}
