.itemAvatar {
  height: 32px;
  width: 32px;

  &__medium {
    height: 42px;
    width: 42px;
  }

  &__large {
    height: 70px;
    width: 70px;

    & .placeholder {
      font-size: 2rem;
    }
  }
}

.picture {
  width: 100%;
  height: 100%;
  max-width: 100%;
  border-radius: 50%;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 10px;
  background-color: #ddeafc;
  color: #0160e6;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 50%;
}
