.overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.45);
}

.overlayContent {
  position: absolute;
  z-index: 1;
  border: 1px solid #ccc;
  background-color: white;
  overflow: auto;
  border-radius: 2px;
  outline: none;
  padding: 0;
  width: 100%;
  max-width: 400px;
  min-height: auto;
  max-height: 100vh;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-overflow-scrolling: touch;
}
