.personHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e0dede;
}

.personName {
  margin-top: 13px;
  margin-bottom: 0;
  font-weight: bold;
}

.personPhone {
  color: #13d459;
  font-weight: 600;
}

.personDetails {
  padding-top: 15px;
  padding-bottom: 45px;
  font-size: 1.4rem;
  color: #bdb8b8;
  font-weight: 600;
}

.definitionList {
  margin: 0;

  a {
    color: #bdb8b8;
  }
}

.term {
  display: inline-block;
  font-weight: bold;
  text-transform: capitalize;
  color: #949090;
  text-align: right;
  width: 25%;
  margin-right: 20px;
  margin-top: 15px;
}

.termDefinition {
  margin: 0;
  margin-top: 15px;
  display: inline-block;
  width: calc(75% - 20px);
}
