.skipLink {
  background-color: white;
  color: black;
  border-radius: 2px;
  border: 1px solid #cbcccd;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 7px 20px;
  display: inline-block;
  align-self: center;
}
