.inputContainer {
  display: block;
  width: 100%;
}

.inputContainer + .inputContainer {
  margin-top: 15px;
}

.label {
  display: block;
  margin-bottom: 3px;
  font-size: 1.4rem;
  color: #5f5d5d;

  &__isRequired {
    &:after {
      content: "\00a0*";
    }
  }
}

.input {
  padding: 7px;
  border-radius: 2px;
  border: 1px solid #cbcccd;
  background: white;
  font-size: 1.4rem;
  height: 35px;
  width: 100%;

  &[aria-invalid="true"] {
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 1px, red 0px 0px 0px 2px;
  }

  &:focus {
    outline: none;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 1px, #317ae2 0px 0px 0px 2px;
  }
}

.error {
  display: inline-block;
  margin-top: 5px;
  font-size: 1.2rem;
  color: red;
}
